In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [2]:
# Load .env enviroment variables
load_dotenv()

True

In [6]:
alpaca_api_key=os.getenv('ALPACA_API_KEY')

In [7]:
alpaca_secret_key=os.getenv('ALPACA_API_SECRET_KEY')

In [8]:
alpaca_api_key

'PKAGDNOB006SGQOFKT4R'

In [9]:
alpaca_secret_key

'x3eVWUrP8w5WF0CxfRyHLPMnCVMjZQqCxDUaAqnC'

In [10]:
my_btc = 1.2
my_eth = 5.3

In [11]:
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"

In [12]:
btc_url = btc_url + "?format=json"

In [13]:
eth_url = eth_url + "?format=json"

In [14]:
requests.get(btc_url)

In [15]:
requests.get(eth_url)

In [17]:
response_data_btc=requests.get(btc_url)

In [20]:
response_content=response_data_btc.content

In [22]:
import json

In [24]:
data_btc=response_data_btc.json()

In [29]:
print(json.dumps(data_btc,indent=4))

{
    "data": {
        "1": {
            "id": 1,
            "name": "Bitcoin",
            "symbol": "BTC",
            "website_slug": "bitcoin",
            "rank": 1,
            "circulating_supply": 19001143,
            "total_supply": 19001143,
            "max_supply": 21000000,
            "quotes": {
                "USD": {
                    "price": 45930.0,
                    "volume_24h": 23380220771,
                    "market_cap": 874712561558,
                    "percentage_change_1h": -0.0315572663106226,
                    "percentage_change_24h": -1.90246754226703,
                    "percentage_change_7d": 3.1892389130707,
                    "percent_change_1h": -0.0315572663106226,
                    "percent_change_24h": -1.90246754226703,
                    "percent_change_7d": 3.1892389130707
                }
            },
            "last_updated": 1648948673
        }
    },
    "metadata": {
        "timestamp": 1648948673,
        "num_cryptocurrencies": 3105,
        "error": null
    }
}

In [43]:
data_btc["data"]['1']['quotes']['USD']['price']

45930.0

In [47]:
response_data_eth=requests.get(eth_url)

In [45]:
print(json.dumps(data_eth,indent=4))

{
    "data": {
        "1": {
            "id": 1,
            "name": "Bitcoin",
            "symbol": "BTC",
            "website_slug": "bitcoin",
            "rank": 1,
            "circulating_supply": 19001143,
            "total_supply": 19001143,
            "max_supply": 21000000,
            "quotes": {
                "USD": {
                    "price": 45930.0,
                    "volume_24h": 23380220771,
                    "market_cap": 874712561558,
                    "percentage_change_1h": -0.0315572663106226,
                    "percentage_change_24h": -1.90246754226703,
                    "percentage_change_7d": 3.1892389130707,
                    "percent_change_1h": -0.0315572663106226,
                    "percent_change_24h": -1.90246754226703,
                    "percent_change_7d": 3.1892389130707
                }
            },
            "last_updated": 1648948673
        }
    },
    "metadata": {
        "timestamp": 1648948673,
        "num_cryptocurrencies": 3105,
        "error": null
    }
}

In [48]:
response_content_eth=response_data_eth.content

In [49]:
data_eth=response_data_eth.json()

In [50]:
print(json.dumps(data_eth,indent=4))

{
    "data": {
        "1027": {
            "id": 1027,
            "name": "Ethereum",
            "symbol": "ETH",
            "website_slug": "ethereum",
            "rank": 2,
            "circulating_supply": 120220404,
            "total_supply": 120220404,
            "max_supply": 0,
            "quotes": {
                "USD": {
                    "price": 3425.2,
                    "volume_24h": 20996832021,
                    "market_cap": 411330736658,
                    "percentage_change_1h": -1.17695918547434,
                    "percentage_change_24h": -1.50228319239469,
                    "percentage_change_7d": 9.0524527376058,
                    "percent_change_1h": -1.17695918547434,
                    "percent_change_24h": -1.50228319239469,
                    "percent_change_7d": 9.0524527376058
                }
            },
            "last_updated": 1648950157
        }
    },
    "metadata": {
        "timestamp": 1648950157,
        "num_cryptocurrencies": 3105,
        "error": null
    }
}

In [52]:
data_eth["data"]['1027']['quotes']['USD']['price']

3425.2

In [53]:
my_agg=200
my_spy = 50

In [54]:
alpaca=trade_api.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [55]:
from datetime import datetime
today = datetime.now()

In [56]:
tickers=['SPY','AGG']
timeframe='1DAY'

In [57]:
from alpaca_trade_api.rest import REST, TimeFrame

In [59]:
alpaca.get_bars(tickers,TimeFrame.Day,"2022-04-01","2022-04-01",adjustment='raw').df

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-04-01 04:00:00+00:00,106.35,106.95,106.25,106.75,11579091,40126,106.667931,AGG
2022-04-01 04:00:00+00:00,453.30,453.46,449.14,452.92,88676014,624745,451.850848,SPY

In [60]:
current_price=alpaca.get_bars(tickers,TimeFrame.Day,"2022-04-01","2022-04-01",adjustment='raw').df

In [61]:
current_price.index=current_price.index.date

In [62]:
current_price

,open,high,low,close,volume,trade_count,vwap,symbol
2022-04-01,106.35,106.95,106.25,106.75,11579091,40126,106.667931,AGG
2022-04-01,453.30,453.46,449.14,452.92,88676014,624745,451.850848,SPY

In [63]:
current_price= current_price[['close','symbol']]

In [64]:
current_price

             close symbol
2022-04-01  106.75    AGG
2022-04-01  452.92    SPY

In [70]:
current_price['close']

2022-04-01    106.75
2022-04-01    452.92
Name: close, dtype: float64